.album .album_thumbnail img{
    /* &_thumbnail {
        & > img {
            border-radius: 0.5rem;
            width: 190px;
        }
    }

    &_name {
        font-weight: bold;
    } */
    border-radius: 0.5rem;
    width: 190px;
}
.album .album_name{
        font-weight: bold;

}